@import './index';

.AddItem {

    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    div {

        margin: 5px;

        input {
            box-sizing: border-box;
            padding: 10px;
            border-right: 1px solid $gray;
            border-radius: 5px;
        }

        button {
            margin-left: 5px;
            padding: 14px;
            border-radius: 5px;
        }

        &:not(:last-of-type) {
            flex-grow: 1;
        }

    }

}